/* All */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(121, 95, 192);
}

/* Sidebar stuff */
.sidebar {
  height: 100%;
  max-width: 350px;
  background-color: #9172E8;
  border-right: 2px solid white;
  transition: 0.5s;
  position: fixed;
  top: 0;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}

.list {
  display: flex;
  flex-direction: column;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: #7D7EFF;
}


.list li {
  margin: 1em;
  padding: 2em;
  border-bottom: 2px solid white;
  cursor: pointer;
  text-align: center;
  list-style: none;
}

.list li a {
  color: white;
  font-weight: bold;
  margin: auto;
}

.list li:hover  {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
  text-decoration: underline;
  transition: 0.5s;
}

.logo {
  margin: 2em;
  padding: 1em; 
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid white;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
  background-color: #9192E8;

}

.logo h1 {
  padding-left: 1em; 
  color: white;
  font-size: 30px;
  margin: auto;
}

.resize {
  width: 100px;
}

/* Not sidebar stuff */
.main {
  margin-left: 350px;
  transition: 0.5s;
}

.main.collapsed {
  margin-left: 0;
}

/* hide button */
#hide {
  position: absolute;
  top: 0;
  right: -40px;
  border: none;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  outline: none;
  background-color: #9172E8;
  color: white; 
  width: 40px;
  height: 40px;
}

#hide:hover {
  transition: 0.5s;
  background-color: #9192E8 ;
}

/* main form stuff */
.formlist h1 {
  text-align: center;
  padding: 2em;
  margin: 40px;
  border-bottom: 2px solid white;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
  background-color: #9192E8;
  color: white;
}

.form-container {
  text-align: center;
  margin: 40px;
  padding: 2em;
  border-bottom: 2px solid white;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
  background-color: #9192E8;
}

.form-options {
  padding: 2em;
  border-bottom: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-options input[type="radio"] {
  display: none;
}

.form-options label {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 2em;
  padding: 1em;
  margin: 1em;
  color:white;
}

.form-options input[type="radio"]:checked+label {
  text-decoration: underline;
  background-color: #a5a6e8;
  transition: 0.25s;
}

.dynamic-form {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid white;
  padding: 2em;
  justify-content: space-evenly;
}

.dynamic-form button {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 2em;
  padding: 1em;
  margin: 1em;
  outline: none;
  background: none;
  color: white; 
}

.dynamic-form button:hover {
  background-color: #a5a6e8;
  transition: 0.25s;
}

.dynamic-form label  {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 2em;
  padding: 1em;
  margin: 1em;
  background: none;
  color: white; 
}

.dynamic-form input {
  border: none;
  border-radius: 2em;
  margin: 5px;
  padding: 2px 5px;
  outline: none;
}

.dynamic-form label:focus-within {
  background-color: #a5a6e8;
  transition: 0.25s;
}

.dynamic-form button:hover {
  background-color: #a5a6e8;
  transition: 0.25s;
}


/* Dynamic result/table */
#dynamic-result-2 {
  background-color: #9192E8;
  border-bottom: 2px solid white;
  padding: 2em;
  margin: 40px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
  overflow-x: auto;
}

table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  color: white;
  border-bottom: 2px solid white;
  padding: 5px;
}

td {
  padding: 5px 0;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Other */
#read-page, #update-page, #delete-page {
  display: none;
}